{% if page.year < 1000 %}
    <h2>Eerste Millennium</h2>
    <p>Het eerste millennium loopt van het jaar 1 t/m het jaar 1000. Hoewel er heel veel uit deze periode bewaard is gebleven is het lastig om activiteiten uit {{ page.year }} direct aan een jaartal of zelfs maar aan een concrete datum te plakken.</p>
    <p>Echter, wij doen wel onze uiterste best om in elk geval een mooi overzicht te geven over deze vroege jaren van onze jaartelling. Wel willen wij ons de komende periode richten op de 17e eeuw en verder. Niet dat we van voor die tijd nooit iets zullen schrijven, maar het kan geen kwaad om een speerpunt af te bakenen.</p>
{% endif %}

{% if page.year > 1000 and page.year < 1101 %}
    <h2>11e eeuw</h2>
    <p>De elfde eeuw loopt van het jaar 1001 t/m 1100. Veel historici spreken over deze periode van het begin van de <strong>Hoge Middeleeuwen</strong>. In deze periode houden de Vikingen het geleidelijk aan voor gezien en nemen de plunderingen snel af. We stichten ze nog snel een aantal kolonies op IJsland en Groenliand. </p>
    <h2>Uitgestorven</h2>
    <p>Vanwege de verandering van het klimaat en de toegenomen jacht stierf in Nederland de bruine beer uit. Ook de Eland trok uit ons gebied en is tegenwoordig alleen nog in noorderlijker gelegen gebieden te vinden.</p>
    <h2>Nieuw millennium</h2>
    <p>Bij het aanbreken van het jaar 1001 begon niet alleen de 11e eeuw, maar ook het tweede millennium. Een millennium bestrijkt een periode van 1000 jaar en het tweede millennium loopt dan ook van 1001 t/m 2000.</p>
{% endif %}

{% if page.year > 1100 and page.year < 1201 %}
    <h2>12e eeuw</h2>
    <p>In de twaalfde eeuw (1101 t/m 1200) kwamen de verschillende ridderorden in gebruik. De twee meest bekende zijn de <strong>Tempeliers</strong> en <strong>Maltezer Ridders</strong>. Met de oprichting van deze ridderorden waren ook de kruistochten een voldongen feit.</p>
    <h2>Terug van weggeweest</h2>
    <p>Helemaal terug kwam ook de baksteen. Deze Romeinse vinding is vanuit Italie en diverse kloosters verder verspreid. Hoewel de Italiaanse baktechniek niet overal kon worden toegepast (in Friesland kende men bijvoorbeeld zeeklei) kreeg de baksteen een prominente plaats in de samenleving.</p>
    <h2>Pythagoras</h2>
    <p>Hoewel het in de tegenwoordige tijd voor veel scholieren een zwarte bladzijde is in het wiskundeboek, wist een wetenschapper niet van ophouden. Bhaskara II was een wiskundige die het eerste bewijs leverde dat de stelling van Pythagoras correct (en dus juist) is. </p>
{% endif %}

{% if page.year > 1200 and page.year < 1301 %}
    <h2>13e eeuw</h2>
    <p>Deze periode is er ook weer een hoop gebeurt. In de wereld, maar ook Nederland. We hebben een aantal grote overstromingen gehad, waaronder de Sint Luciavloed uit 1287. De gewesten Drenthe en Groningen maken zich los van de bischop van Utrecht na een felle strijd bij Ane.</p>
{% endif %}

{% if page.year > 1300 and page.year < 1401 %}
    <h2>14e eeuw</h2>
    <p>De veertiende eeuw staat vooral bekend om de twisten tussen Engeland en Frankrijk. Geschiedschrijvers zijn deze periode later gaan aanduiden als de <strong>Honderdjarige Oorlog</strong>. In 1349 beginnen de Hoekse en Kabeljouwse twisten.</p>
    <h2>Zwarte Dood</h2>
    <p>Halverwege deze eeuw sloeg de Zwarte Dood toe in europa. 1/3 van alle Europeanen werden slachtoffer van de pest. Bij het zoeken van de 'schuldige' zijn er ook nog duizenden mensen afgeslacht wegens vermeende hekserij.</p>
{% endif %}

{% if page.year > 1400 and page.year < 1501 %}
    <h2>15e eeuw</h2>
    <p>De vijftiende eeuw was een periode waarin de wereld tegen het einde liep van de periode die wij nu de Middeleeuwen noemen. Ook kwam langzaam aan de industrialisatie op gang. Het gebied wat men kende als 'De Lage Landen' werd opgedeeld in verschillende gewesten. Honderden jaren later bestaan deze nog steeds, onze huidige provincies bestrijken min of meer dezelfde gebieden als destijds.</p>
    <h2>Boekdrukkunst</h2>
    <p>Met de opkomende industrialisatie werd het ook mogelijk om boeken te produceren voor de massa. Boeken konden sneller en in grotere getale worden geproduceerd en veel goedkoper. Meer mensen konden daardoor ook leren lezen en schrijven. Het eerste gedrukte boek kwam in 1453 op de markt.</p>
{% endif %}

{% if page.year > 1500 and page.year < 1601 %}
    <h2>16e eeuw</h2>
    <p>Europa word geregeerd door <strong>Keizer Karel V</strong>. Zijn rijk was groter dan dat de Romeinen konden dromen en zou de boeken ingaan als 'het land waar de zon nooit ondergaat'. In Europese gebieden worden de winters iets langer en kouder en ook de zomers krijgen te maken met veel lagere temperaturen.</p>
    <h2>Aflaten</h2>
    <p>De Katholieken introduceren de zogenoemde Aflaten. Men kon zijn zonden wegpoetsen door het kopen van een 'aflaat' bij de kerk. De opbrengsten hiervan zijn grotendeels ten goede gekomen aan de Sint-Pietersbasiliek in Rome</p>
    <h2>Reformatie</h2>
    <p>Mede door de aflaten kwam de Reformatie op gang. Als startpunt neem men vaak Maarten Luther die in 1517 zijn 95 stellingen tegen de Katholieke kerk vastspijkerde</p>
    <p>Door de reformatie en de protesten ontstond een nieuwe stroming binnen het Christendom: De Protestanten, waartoe de huidige Gereformeerde Kerk ook toe behoord. Het hoogtepunt van deze periode was de beeldenstorm, waar in veel kerken de boel kort en klein geslagen werd.</p>
{% endif %}

{% if page.year > 1600 and page.year < 1701 %}
    <h2>17e eeuw</h2>
    <p>De opkomst en hoogtijdagen van de <strong>Vereenigde Oosindische Compagnie</strong>. Mede door de VOC ging het de Lage Landen economisch voor de wind en beleefde men een <strong>Gouden Eeuw</strong></strong></p>
    <h2>Wetenschap</h2>
    <p>De moderne wetenschap bloeide op. Men wilde steeds meer zelf onderzoek doen en zijn bevindingen delen. Het was tot die tijd gebruikelijk om vooral de oude (veelal Griekse) meesters te citeren of hun gelijk te bewijzen. Met de komst van deze nieuwe wetenschappers werd een basis gelegd waar wij vandaag de dag nog steeds profijt van hebben.</p>
{% endif %}

{% if page.year > 1700 and page.year < 1801 %}
    <h2>18e eeuw</h2>
    <p>De slavenhandel was in deze periode <strong>big business</strong>. Tegelijkertijd kwamen Newcomen en Watt met de introductie van de stoommachine. De industriele Revolutie was een feit.</p>
    <h2>Amsterdam verliest prominente plek</h2>
    <p>Amsterdam die, mede door de VOC, als hoofdstad van de financiele wereld werd gezien, moest zijn positie afstaan aan Londen. In deze periode ging men in Engeland ook massaal aan de thee, welke tot vandaag aan toe nog steeds de wereldwijde stereotypering is van de Britten.</p>
{% endif %}

{% if page.year > 1800 and page.year < 1901 %}
    <h2>19e eeuw</h2>
    <p>Een eeuw waarin men moderniseerd. Ook een eeuw waarin wordt afgerekend met oude machtverhoudingen en de opkomst van de rechten voor de lage klassen.</p>
    <h2>Frankrijk</h2>
    <p>Vooral de Fransen hebben het zwaar te verduren gehad. Na de ondergang van Napoleon Bonaparte begon enkele jaren later de Franse Revolutie. Iedereen die ook maar iets met Adel te maken leek te hebben kreeg een enkele reis guillotine. Vele onschuldige burgers werden ten overstaan van marktpleinen vol mensen een kopje kleiner gemaakt. Men was in de veronderstelling dat deze vomr van executie in elk geval het meest humaan was.</p>
{% endif %}

{% if page.year > 1900 and page.year < 2001 %}
    <h2>20e eeuw</h2>
    <p>De 20e eeuw kenmerkt zich door twee grote oorlogen die beide voor het grootste deel in Europa zijn uitgevochten. De nasleep van beide oorlogen had consequenties voor de hele wereld.</p>
    <h2>Eeuw vol oorlog</h2>
    <p>Naast de twee wereld oorlogen waren er in de jaren erna nog talloze oorlogen. In de jaren 60 hadden we Vietnam en veel later de Golfoorlogen. Ook in gebieden die wij nu Israel noemen heeft men in deze periode hard gevochten.</p>
    <p>We eindigden deze eeuw met een economie die recht door het dak ging. Het kon in de jaren 90 niet op. Aan het begin van de 21e eeuw werdt de wereld al snel opgeschrikt met de oudste natuurwet die wij kennen: <strong>What goes up, must go down</strong>.</p>
{% endif %}

{% if page.year > 2000 and page.year < 2101 %}
    <h2>21e eeuw</h2>
    <p>De eeuw waarin wij nu leven is de 21e eeuw. Deze loopt van 2001 t/m 2100. In het eerst jaar kreeg de wereld meteen te maken met aanslag tegen Amerika, waaruit uiteindelijk een oorlog in Irak en Afganistan werd uitgevochten.</p>
    <p>In Europa was het begin van deze eeuw een mijlpaal in verdere eenwording. Nog nooit waren (west) Europese landen zo goed bevriend. Nog geen 100 jaar geleden was Europa verscheurd in conflicten en oorlog.</p>
{% endif %}

{% if page.year > 2100 and page.year < 2201 %}
    <h2>22e eeuw</h2>
    <p>De eeuw die na ons komt is de 22e eeuw. Op dit moment zijn er al mensen in onze samenleving die het begin van de nieuwe eeuw mee gaan maken. Zelf vermoed ik dat ik daar in elk geval niet meer bij zal zijn, immers zou ik de 130 dan ruim gepasseerd zijn. Ik hoop dat er dan een nieuw internet is. Of het huidige internet gearchiveerd. En terug te lezen is. En dat alles dat er vandaag op DagVanDeWeek staat door iemand gelezen kan worden. Hij zal dan een inzicht krijgen hoe men nu tegen onze geschiedenis aankijkt. En grote kans dat deze persoon in lachen uitbarst.</p>
    <h2>Tot zover</h2>
    <p>Dit is de laatste eeuw die wij in kaart brengen met een kalenderoverzicht. Mocht jij zelf zeker weten dat je de nieuwe eeuw zal halen, kan je in elk geval vast vrij vragen voor je verjaardag in {{ page.year }}. Maar houd er rekening mee dat er waarschijnlijk tegen die tijd een correctie komt op onze kalender.</p>
    <p>Ook hebben wij voor het jaar {{ page.year }} nog geen enkel historisch feit kunnen vinden. Dat is ook niet zo gek, want we hebben het over de verre toekomst. Een toekomst die een deel van onze lezers nog zal zien.</p>
{% endif %}