{% if page.year > 1588 and page.year < 1702 %}
    <h2>Gouden Eeuw</h2>
    <p>Dit jaar valt binnen de periode die de Gouden Eeuw wordt genoemd. Er zijn verschillende bronnen die deze periode iets verlengen of verkorten, maar grofweg de jaren 1588 t/m 1702 worden tot de Gouden Eeuw gerekend.</p>
{% endif %}

{% if page.year > 1602 and page.year < 1803 %}
    <h2>Vereenigde Oostindische Compagnie</h2>
    <p>Het tijdperk van de VOC bestrijkt 200 jaar. Na de oprichting in 1602 had de VOC het alleenrecht op handel 'in de oost' en zelfd bepaalde privileges, zoals het aansturen van legers om nieuwe handelsgebieden te bezetten of om de lokale bevolking te overtuigen om vooral handel te drijven met de Lage Landen.</p>

    {% if page.year > 1779 and page.year < 1790 %}
        <h3>Engels-Nederlandse Oorlog</h3>
        <p>Tussen 1780 en 1784 waren de Nederlanden en Engeland met elkaar in oorlog. Deze werd vooral uitgevochten rondom de positie die de VOC had veroverd in de wereld. Beide partijen bestookte elkaars handelsposten en kolonien. Ook op open zee bulderden de kanonnen stevig.</p>
        <p>Deze periode was slecht voor het bedrijf en de verliezen van gekaapte schepen en andere schadeposten wordt geschat op 60 miljoen gulden. Omgerekend naar de huidige economie kunnen we spreken over miljarden die dit conflict heeft gekost.</p>
    {% endif %}

    <h3>Opheffing</h3>
    <p>Door corruptie en de grote verliezen die zijn geleden na <a href="/kalender/1780">1780</a> kwam de VOC aan het einde van de achtiende eeuw ten val. De aandelen werden opgekocht door de staat en nam daarmee ook de schulden over van ruim 120 miljoen gulden.</p>
    <p>In 1796 werd het bestuur ontbonden en ontslagen. Alle bezittingen gingen over naar de nog jonge Bataafse Republiek. Hoewel de lopende zaken nog moesten worden afgerond hield de VOC defacto ook op te bestaan. De octrooien werden nog een aantal keer verlengd. Het laatste octrooi liep af op 31 december 1799. Op 1 januari 1800 bestond de VOC officieel niet meer.</p>
    <h3>Afkorting</h3>
    <p>De letters VOC stonden voor Vereenigde Oostindische Compagnie. Echter tegen het einde van de VOC tijd werd door de bevolking gekscherend de afkorting uitgesproken als <strong>Vergaan Onder Corruptie</strong></p>
    <h3>Pijnlijke woordkeuze</h3>
    <p>In het jaar 2006 hield de toenmalige Premier Balkenende een redevoering om het moraal in Nederland en de Regering op te krikken. Hoewel de intenties goed waren sprak hij de volgende woorden:</p>

    <div class="jumbotron">
        <h4>Ik begrijp niet waarom u hier zo negatief en vervelend over doet. (...) Laten we blij zijn met elkaar! Laten wij optimistisch zijn! Laten we zeggen: Nederland kan het weer! Die VOC-mentaliteit, over grenzen heen kijken, dynamiek! Toch?</h4>
        <p class="text-right">— Jan-Peter Balkenende, Algemene beschouwingen 2006</p>
    </div>

    <p>Hoewel hij vooral doelde op de ondernemersgeest en het op zoek gaan naar nieuwe handel, was de VOC tijd (en de mentaliteit) naar de huidige maatstaven alles behalve om trots op te zijn. Plunderingen, oorlogshandelingen, onderdrukking en slavenhandel waren aan de orde van de dag.</p>
{% endif %}

{% if page.year > 1350 and page.year < 1490 %}
    <h2>Hoekse en Kabeljouwse twisten</h2>
    <p>Een aantal edelen, onder wie Jan I van Egmont en Gerard van Heemskerk, zag als enige uitkomst dat Willem V zijn banden met zijn moeder en omgeving los zou maken. Wolfert III van Borselen zou deze staatsgreep begin 1350 uit moeten voeren, maar dit werd verhinderd door de terugkeer van Margaretha, waarna Willem V zich aan haar onderwierp in het besef te hebben gefaald. De opstandige edelen, onder de geuzennaam Kabeljauwen, gaven echter niet op en sloten op 23 mei 1350 de Kabeljauwse verbondsakte, waarmee zij aangaven dat Willem V landsheer moest worden zonder de betalingsverplichting aan zijn moeder.</p>

    <p>Hoewel enkele steden zoals Delft zich direct bij de Kabeljauwen aansloten, werd op 5 september een tegenverbond gesloten door de Hoeken, die Margaretha steunden.</p>
{% endif %}

{% if page.year > 500 and page.year < 1500 %}
    <h2>Middeleeuwen</h2>
    <p>De Middeleeuwen zijn een periode vol onrust en wapengekletter. De bevolking is strikt opgedeeld in klasses, zoals de Boeren, Arbeiders en Adel. Deze donkere eeuwen kennen wij ook als de riddertijd.</p>
{% endif %}

{% if page.year > 1837 and page.year < 1901 %}
    <h2>Victoriaanse tijd</h2>
    <p>Deze periode is kenmerkend door de Britse koninging Victoria. Het is een tijd vol met strenge zeden, kuisheid en industriele revolutie. Deze periode kwam sterk in Groot Britannie tot uiting maar deze invloeden zijn ook in andere Europese landen terug te zien.</p>
{% endif %}