<h2>Maandoverzicht</h2>
<ul class="calendar-container">
    {% for mNumber in 1..12 %}

        {% set month = calendr_month(page.year, mNumber) %}

                <li>
                <div class="calendar-wrapper">

                <h3>{{ month.begin.format('m')|translate_month|capitalize }} {{ page.year }}</h3>
                <table>
                    <tr>
                        <th>MA</th>
                        <th>DI</th>
                        <th>WO</th>
                        <th>DO</th>
                        <th>VR</th>
                        <th>ZA</th>
                        <th>ZO</th>
                        <th class="weeknumber">#</th>
                    </tr>
                {% for week in month %}

        <tr>
            {% for day in week %}
                <td>
                    {{ day.begin.format("d") }}
                </td>
            {% endfor %}
            <td class="weeknumber">{{ week.number }}</td>
        </tr>


    {% endfor %}
                </div>
                </li>
                </table>
            {% endfor %}
</ul>