parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    app.version: 0.0.1
    app.title: Bier in de klok?!
    app.cmstitle: Backoffice
    app.http_entrypoint: http://bierindeklok.nl
    app.twitter_name: ~
    app.twitter_url: ~
    app.facebook_url: ~
    app.googleplus_url: ~
    app.domain: ~
    app.analyticsid: ~