{% extends "StefDagVanDeWeekBundle::freelayout.html.twig" %}

{% block htmlbody %}
    {% include 'StefDagVanDeWeekBundle:Elements:navbar.html.twig' %}

    <header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead">Elke dag van de week</h1>
                <p class="tagline">Bieden wij een platform om vandaag en gisteren samen te laten komen</p>
            </div>
        </div>
    </header>
    <!-- /Header -->

    <!-- Intro -->
    <div class="container text-center">
        <br> <br>
        <h2 class="thin">DagVanDeWeek.nl</h2>
        <p class="text-muted">
            Welkom op DagVanDeWeek.nl. De website waar u kunt zien wat voor dag het is in het heden, maar ook het verleden. Elke week roepen wij iemand uit tot Topper van de Week, zodat iemand de aandacht krijgt die hij of zij verdient.
        </p>
        <h2 class="thin">Geschiedenis</h2>
        <p class="text-muted">
            Bent u nieuwsgierig naar de historie van de wereld? En dan met name, de geschiedenis van ons koude kikkerlandje? Dan bent u hier aan het juiste adres. Wij verzamelen met grote zorg historische gegevens die wij graag met u delen. Kijk eens rond. Op de kalender pagina's kunt u per jaar het nieuws volgen.
        </p>
    </div>
    <!-- /Intro-->

    <!-- Highlights - jumbotron -->
    <div class="jumbotron top-space">
        <div class="container">

            <h3 class="text-center thin">Waarom DagVanDeWeek?</h3>

            <div class="row">
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>De Weektopper</h4></div>
                    <div class="h-body text-center">
                        <p>Met onze wekelijkse <a href="/topper-van-de-week">Toppers</a> heb je altijd wel een reden om terug te keren. Wij roepen elke week een winnaar uit. En dat is sinds 2012!</p>
                        <p>Onze toppers kunnen amusant zijn of heldhaftig. In enkele gevallen is er zelfs sprake van een echte anti-topper.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Historische Gebeurtenissen</h4></div>
                    <div class="h-body text-center">
                        <p>Er is de afgelopen duizenden jaren van alles in de wereld gebeurt. Wij proberen zoveel mogelijk van deze gebeurtenissen te koppelen aan een jaarkalender. Zo kan je makkelijk alles terugvinden, voor bijvoorbeeld je werkstuk!</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Kalender</h4></div>
                    <div class="h-body text-center">
                        <p>4 februari, op welke dag valt dat? Of wil je weten of je verjaardag in het weekend is? Op al deze vragen geven wij met de kalender een antwoord. En dat niet alleen. Je kan terugkijken zover je wilt en kalenders uit het verleden weer tot leven laten komen!</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Boeiend</h4></div>
                    <div class="h-body text-center">
                        <p>Wij proberen het stoffige een klein beetje af te stoffen. Maken het tastbaar door gebeurtenissen op een kalender te plaatsen en proberen er een draai aan te geven.</p>
                    </div>
                </div>
            </div> <!-- /row  -->

        </div>
    </div>

    <div class="container">
        
    </div>

    {% include 'StefDagVanDeWeekBundle:Elements:social.html.twig' %}
    {% include 'StefDagVanDeWeekBundle:PageLayout:footer.html.twig' %}
{% endblock %}