{% extends 'StefBierInDeKlokBundle::layout.html.twig' %}

{% block body %}

    <div id="main-wrapper">
        <div id="main" class="container">
            <h1>Archief {{ year }}</h1>
            <p>Onze vereniging heeft een rijk nieuwsarchief. En dat is maar goed ook, want als er niks meer te schrijven zou zijn zouden wij een hoop lege zaterdagen hebben. Maar onze zaterdagen, kampen en weekenden zijn altijd feestelijk, leuk en onvergetelijk. En dat doen wij met alle leden. Want bij ons is samen doen, ook samen lol! En dat al ruim 70 jaar!</p>
            {% for news in newsitems %}
                <li><a href="{{ path('stef_bier_in_de_klok_news_show', { 'slug': page.slug }) }}">{{ page.title|e }}</a></li>
            {% endfor %}
        </div>
    </div>
{% endblock %}