<div class="footer1">
    <div class="container">
        <div class="row">
            {% if '/kalender/' in app.request.uri  %}
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Veel bezochte info</h3>
                    <div class="col-md-6">
                        <h4>Oorlogsjaren</h4>
                        <div class="widget-body">
                            <a href="http://dagvandeweek.nl/historie/1939">Historie 1939</a><br/>
                            <a href="http://dagvandeweek.nl/historie/1940">Historie 1940</a><br/>
                            <a href="http://dagvandeweek.nl/historie/1941">Historie 1941</a><br/>
                            <a href="http://dagvandeweek.nl/historie/1942">Historie 1942</a><br/>
                            <a href="http://dagvandeweek.nl/historie/1943">Historie 1943</a><br/>
                            <a href="http://dagvandeweek.nl/historie/1944">Historie 1944</a><br/>
                            <a href="http://dagvandeweek.nl/historie/1945">Historie 1945</a><br/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h4>Overig</h4>
                        <div class="widget-body">
                            <a href="http://dagvandeweek.nl/historie/1600">Historie 1600</a><br/>
                            <a href="http://dagvandeweek.nl/historie/1650">Historie 1650</a><br/>
                            <a href="http://dagvandeweek.nl/historie/1700">Historie 1700</a><br/>
                            <a href="http://dagvandeweek.nl/historie/1750">Historie 1750</a><br/>
                            <a href="http://dagvandeweek.nl/historie/1800">Historie 1800</a><br/>
                            <a href="http://dagvandeweek.nl/historie/1850">Historie 1850</a><br/>
                            <a href="http://dagvandeweek.nl/historie/1900">Historie 1900</a><br/>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Veel bezochte kalenders</h3>
                    <div class="col-md-6">
                        <h4>Oorlogsjaren</h4>
                        <div class="widget-body">
                            <a href="http://dagvandeweek.nl/kalender/1939">Kalender 1939</a><br/>
                            <a href="http://dagvandeweek.nl/kalender/1940">Kalender 1940</a><br/>
                            <a href="http://dagvandeweek.nl/kalender/1941">Kalender 1941</a><br/>
                            <a href="http://dagvandeweek.nl/kalender/1942">Kalender 1942</a><br/>
                            <a href="http://dagvandeweek.nl/kalender/1943">Kalender 1943</a><br/>
                            <a href="http://dagvandeweek.nl/kalender/1944">Kalender 1944</a><br/>
                            <a href="http://dagvandeweek.nl/kalender/1945">Kalender 1945</a><br/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h4>Overig</h4>
                        <div class="widget-body">
                            <a href="http://dagvandeweek.nl/kalender/1600">Kalender 1600</a><br/>
                            <a href="http://dagvandeweek.nl/kalender/1650">Kalender 1650</a><br/>
                            <a href="http://dagvandeweek.nl/kalender/1700">Kalender 1700</a><br/>
                            <a href="http://dagvandeweek.nl/kalender/1750">Kalender 1750</a><br/>
                            <a href="http://dagvandeweek.nl/kalender/1800">Kalender 1800</a><br/>
                            <a href="http://dagvandeweek.nl/kalender/1850">Kalender 1850</a><br/>
                            <a href="http://dagvandeweek.nl/kalender/1900">Kalender 1900</a><br/>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col-md-6 widget">
                <h3 class="widget-title">&nbsp;</h3>
                <div class="widget-body" style="align-content: center;align-items: center;text-align: center;">
                    {% include 'StefSimpleCmsBundle:GoogleAdsense:320x100.html.twig' with {'pubid': 'ca-pub-1143505562670221', 'slotid': '2218223211'} %}
                </div>
            </div>

            <div class="col-md-3 widget">
                <h3 class="widget-title">Elke dag van de week</h3>
                <div class="widget-body">

                    <p>Wij poberen elke dag van de week een plek te geven op het internet. Elke dag is uniek en op zijn beurt een schakeltje uit het verleden of een moment in de toekomst.</p>

                    <p>Wij streven ons doel na door het plaatsen van jaarkalenders en historische verslagen. Die laatste vaak in een 'Hap-Snap' stijl, dus niet altijd diepgaande proza's maar ook lekker ontspannen in de trein. Elke dag weer.</p>

                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</div>