<div class="footer2">
    <div class="container">
        <div class="row">

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="simplenav">
                        {% if not '/kalender/2013' in app.request.uri or not '/kalender/2014' in app.request.uri or not '/kalender/2015' in app.request.uri or not '/kalender/2016' in app.request.uri %}
                            <a href="#">Home</a> |
                            <a href="/kalender/2013">Kalender 2013</a> |
                            <a href="/kalender/2014">Kalender 2014</a> |
                            <a href="/kalender/2015">Kalender 2015</a> |
                            <a href="/kalender/2016">Kalender 2016</a> |
                            <a href="/kalender/2017">Kalender 2017</a> |
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="text-right">
                        Copyright &copy; 2012 - 2015, <a href="http://stefanius.nl">Stefanius</a>. Bootstrap3 template inspired by <a href="http://gettemplate.com/">gettemplate</a>
                    </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</div>